RewriteEngine on
RewriteBase /
RewriteCond $1 !^(robots\.txt|sitemap\/sitemap_index\.xml|sitemap\/sitemap_[0-9]+\.xml|$)
RewriteCond $1 !^(apc\/apc\.php(.*)|$)
RewriteCond $1 !^(index\.php|(.*)\.(js|css|jpg|gif|png|swf|htc|ico)|robots\.txt|$)
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
